* {
  box-sizing: border-box;
}

body {
  background: $mainLightBlue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: $font-family-amatic;
  height: 100vh;
}
